* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

header,
section {
    margin: auto;
    text-align: center;
}

p {
    font-size: 1.1rem;
}

header {
    background: #39b896;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #99f2c8, #39b896);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #99f2c8, #39b896);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 2rem;
    color: black;
}

section {
    border-bottom: 4px solid #1f4037;
    margin-bottom: 1.5rem;
}

section h2 {
    color: #1f4037;
    padding: 2.5vh;
}

section p {
    line-height: 1.5rem;
    padding: .5rem;

}

/* div container */
div {
    margin: auto;
    width: 90%;
    /* border: 2px solid black; */
}


/* form styling */

form {
    /* padding: 0 1.1rem; */
    /* width: 100%; */
}

form fieldset {
    border: none;
    border-bottom: 4px solid #1f4037;
    margin-bottom: 1.5rem;
}

form legend {
    font-size: 1.5rem;
    padding: 1.2rem 0;
    width: 100%;
    text-align: center;
    border-radius: .2rem;
    background: #73eccc88;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #99f2c8, #7dffdc62);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #99f2c8, #7dffdc62);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form p {
    padding: .8rem 0;
    font-weight: bold;
}

form select {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC');
    background-position: calc(100% - .5rem), 100% 0;
    background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
}


form select,
form input {
    width: 100%;
    height: 2.5rem;
    border-style: none;
    border-bottom: 1px solid #1f4037;
    transition: ease-in-out .18s;
    font-size: 1rem;
    background-color: rgba(211, 211, 211, 0.457);
}

/* input[type="text"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus {
    outline: none;
    border-style: none;
    border-bottom: 2px solid #99f2c8;
} */
select:focus,
input:focus {
    background-color: white;
    outline: none;
    border-style: none;
    border-bottom: 5px solid #99f2c8;
    /* border-color: blue; */
    /* outline: 0; */
    /* border-bottom: 5px solid #99f2c8; */
}



#zip {
    margin-bottom: 1.5rem;
}


input[type="radio"],
input[type="checkbox"] {
    /* width: 100%; */
    margin-bottom: 1rem;
    width: 7%;
    height: auto;
    height: 1rem;
}

label[for="other"] p {
    width: 100%;
}

textarea {
    width: 100%;
    resize: vertical;
    border: 2px solid #1f4037;
}



@media screen and (min-width: 650px) {
    body {
        margin: auto;
        width: 90%;
    }

    label p {
        display: inline-block;
        width: 25%;
    }

    label input {
        display: inline-block;
        width: 74%;
        margin-left: auto;
    }

    form select {
        display: inline-block;
        width: 74%;
        /* margin-left: auto; */
    }

    /* p {
        display: inline-block;
        width: 50%;
    }

    input {
        width: 40%;
        display: inline-block;
    } */





}

@media screen and (min-width: 768px) {

    header {
        padding: 2.3rem;
    }


    div {
        /* margin: auto; */
        max-width: 700px;
    }





}